[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-spectacular = "*"
django-filter = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
