[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-spectacular = "*"
django-filter = "*"
pytz = "*"
tzlocal = "*"
authlib = "*"
loginpass = "*"
gunicorn = "*"
django-debug-toolbar = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
pytest-django = "*"
pytest = "*"
assertpy = "*"

[requires]
python_version = "3.9"
