-i https://pypi.org/simple/
asgiref==3.3.4
attrs==21.2.0
authlib==0.15.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
django-cors-headers==3.7.0
django-debug-toolbar==3.2.1
django-filter==2.4.0
django==3.1.8
djangorestframework==3.12.4
drf-spectacular==0.14.0
gunicorn==20.0.4
idna==2.10
inflection==0.5.1
jsonschema==3.2.0
loginpass==0.5
pycparser==2.20
pyrsistent==0.17.3
pytz==2021.1
pyyaml==5.4.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.4
